<form method="post" action="/recipes">
  <p>Enter a Recipe Name:  <input type="text" name="name"></p>
  <p>Enter the Recipes Ingredients:  <input type="text" name="ingredients"></p>
  <p>Enter the Recipes Cook Time:  <input type="text" name="cook_time"></p>
  <input id="submit" value="submit" type="submit">
</form>
